.CarouselItem {
    display: inline-block;
    padding: 0.5em;
    font-size: 1.2em;
    border: 0.2em solid #ffe200;
    border-radius: 1em;
    cursor: pointer;
    color: white;
    background-color: transparent;
    margin: 0.3em;
    width: 20em;
}

.CarouselItem-title{
    font-size: 200%;
    margin: 0.5em;
}
.CarouselItem-info{
    display: block;
    font-size: 1.2em;
    padding: 0.3em;    
}
