body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000000;
  color: white;
}

.Joke-img{
  width: 10em;
  height: 10em;
  position: absolute;
  animation: animateJoke 14.4s linear infinite;
  overflow: hidden;
}

@keyframes animateJoke {
  from {
    top: 150%;
    width: 10em;
    height: 10em;
  }
  to {
    top: -50%;
    width: 50em;
    height: 50em;
  }
}


.spinner {
  height: 5em;
  width: 5em;
  margin: 94px auto 0 auto;
  position: relative;
  animation: rotation .6s infinite;
  border-left: 6px solid #DDD900;
  border-right: 6px solid #DDD900;
  border-radius: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}