.Searcher {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.Searcher-title {
    margin-bottom: 0.2em;
    text-align: left;
}

.Searcher-input {
    font-size: 1em;
    width: 100%;    
    padding: 0.5em;
}

.Searcher-spinner-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.23);
    display: inline-flex;
    position: relative;
    text-align: center
}